
:root{

  --btn-bg:

}

body {
  background-color:#2b2a2f;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  overflow-y: hidden;
}
#graph{
  position:absolute;
  top:0px;
  left:48px;
  width: 400px;
  height: 200px;
  z-index:9;
}
input{
  display:none;
  position:absolute;
  left:30%;
  width: 200px;
  padding: 8px;
  border:none;
  font-size: 16px;
  z-index:1000;
}

.btns{
    cursor: pointer;
    width:97px;
    height:97px;
    font-size:25px;
    background-color:#44434a;
    border: 1px solid #44434a;
    border-radius:25px;
    outline-color: #44434a;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

}

.btncontainer{
  display: grid;
  position:absolute;
  top:220px;
  left:30px;
  width:450px;
  grid-template-columns: repeat(4, 1fr);
  gap:5px;
}

.btns1{
  color:#ffffff;
  text-align: center;
}

.btns2{
  color:#a7e8ff;
  position:relative;
  bottom:30%;
  left:30%;
  width:30px;
}

#backspaceimage{

  width:40px;
  height:40px;

}

#answerbx{
  z-index:1;
  position:absolute;
  top:0px;
  left:0px;
  
  width:99.9%;
  height:210px;
  
  background-color:#ffffff;
  
  border-bottom:3px solid rgb(49, 49, 49);
  
  color:black;
  text-align:right;
  font-size:35px;
}
#answerbxtxt{
  position:absolute;
  bottom:0px;
  right:0px;
  height:37px;
}
